
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}


html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
footer,header,head{display:block}summary{display:list-item}

audio,progress{display:inline-block}progress{vertical-align:baseline}

audio:not([controls]){display:none;height:0}[hidden],template{display:none}

.JEhide { background-color: black; width: 10000px; height: 10000px}


a.button {
    -webkit-appearance: button
    -moz-appearance button;
    appearance: button;
    margin:16px!important;
    margin-top:16px!important;
    margin-bottom:16px!important;
    text-align: float right;
    color: initial;
}

.body { font-family: 'Iceland', cursive; } 

html,body{font-family: "Iceland", cursive;font-size:15px;line-height:1.5}html{overflow-x:hidden}

h1{font-size:46px}h2{font-size:40px}h3{font-size:34px}h4{font-size:30px}h5{font-size:28px}h6{font-size:26px}

.JE-iceland{font-family:cursive}.JE-iceland{font-family:sans-serif}.JE-cursive{font-family:cursive}.JE-monospace{font-family:monospace}

h1,h2,h3,h4,h5,h6{font-family:"Iceland";font-weight:400;margin:10px 0}.JE-wide{letter-spacing:4px}

hr{border:0;border-top:1px solid gray;margin:20px 0}

img{vertical-align:middle}a{color:inherit}

.JE-tooltip,.JE-display-container{position:relative}.JE-tooltip .JE-text{display:none}.JE-tooltip:hover .JE-text{display:inline-block}


.JE-container:after,.JE-container:before,.JE-panel:after,.JE-panel:before,.JE-row:after,.JE-row:before,.JE-row-padding:after,.JE-row-padding:before,


.JE-cell-row:before,.JE-cell-row:after,.JE-clear:after,.JE-clear:before,.JE-bar:before,.JE-bar:after{content:"";display:table;clear:both}

.JE-col,.JE-half,.JE-third,.JE-twothird,.JE-threequarter,.JE-quarter{float:left;width:100%}


.JE-col.s1{width:8%}.JE-col.s2{width:16%}.JE-col.s3{width:25%}.JE-col.s4{width:33%}

.JE-col.s5{width:41%}.JE-col.s6{width:50%}.JE-col.s7{width:58%}.JE-col.s8{width:66%}

.JE-col.s9{width:75%}.JE-col.s10{width:83%}.JE-col.s11{width:91%}.JE-col.s12{width:100%}

@media (min-width:600px){.JE-col.m1{width:8%}.JE-col.m2{width:16%}.JE-col.m3,.JE-quarter{width:25%}.JE-col.m4,.JE-third{width:33%}

.JE-col.m5{width:41%}.JE-col.m6,.JE-half{width:50%}.JE-col.m7{width:58%}.JE-col.m8,.JE-twothird{width:66%}

.JE-col.m9,.JE-threequarter{width:75%}.JE-col.m10{width:83%}.JE-col.m11{width:91%}.JE-col.m12{width:100%}}

@media (min-width:990px){.JE-col.l1{width:8%}.JE-col.l2{width:16%}.JE-col.l3{width:25%}.JE-col.l4{width:33%}

.JE-col.l5{width:41%}.JE-col.l6{width:50%}.JE-col.l7{width:58%}.JE-col.l8{width:66%}

.JE-col.l9{width:75%}.JE-col.l10{width:83%}.JE-col.l11{width:91%}.JE-col.l12{width:100%}}

.JE-rest{overflow:hidden}.JE-stretch{margin-left:-16px;margin-right:-16px}

.JE-content,.JE-auto{margin-left:auto;margin-right:auto}.JE-content{max-width:980px}.JE-auto{max-width:1140px}

.JE-cell-row{display:table;width:100%}.JE-cell{display:table-cell}

.JE-cell-top{vertical-align:top}.JE-cell-middle{vertical-align:middle}.JE-cell-bottom{vertical-align:bottom}

@media (max-width:1200px){.JE-auto{max-width:95%}}



.JE-top,.JE-bottom{position:fixed;width:100%;z-index:1}.JE-top{top:0}.JE-bottom{bottom:0}

.JE-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}

.JE-display-topleft{position:absolute;left:0;top:0}.JE-display-topright{position:absolute;right:0;top:0}

.JE-display-bottomleft{position:absolute;left:0;bottom:0}.JE-display-bottomright{position:absolute;right:0;bottom:0}

.JE-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}

.JE-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}

.JE-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}

.JE-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}

.JE-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}

.JE-display-container:hover .JE-display-hover{display:block}.JE-display-container:hover span.JE-display-hover{display:inline-block}.JE-display-hover{display:none}

.JE-display-position{position:absolute}



.JE-box-small{border-radius:0px}.JE-box,.JE-box-medium{border-radius:0px}.JE-box-large{border-radius:0px}.JE-box-xlarge{border-radius:0px}.JE-box-xxlarge{border-radius:0px}

.JE-row-padding,.JE-row-padding>.JE-half,.JE-row-padding>.JE-third,.JE-row-padding>.JE-twothird,.JE-row-padding>.JE-threequarter,.JE-row-padding>.JE-quarter,.JE-row-padding>.JE-col{padding:0 8px}

.JE-container,.JE-panel{padding:0.01em 16px}.JE-panel{margin-top:16px;margin-bottom:16px}





.JE-card,.JE-card-2{box-shadow:0px 2px 5px 2px rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}

.JE-card-4,.JE-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.30)}


.JE-opacity,.JE-hover-opacity:hover{opacity:0.70}.JE-opacity-off,.JE-hover-opacity-off:hover{opacity:1}

.JE-opacity-max{opacity:0.35}.JE-opacity-min{opacity:0.85}






.JE-small{font-size:12px!important}.JE-medium{font-size:15px!important}.JE-large{font-size:18px!important}

.JE-xlarge{font-size:25px!important}.JE-xxlarge{font-size:37px!important}.JE-xxxlarge{font-size:48px!important}


.JE-left-align{text-align:left!important}.JE-right-align{text-align:right!important}.JE-justify{text-align:justify!important}.JE-center{text-align:center!important}

.JE-border-0{border:0!important}.JE-border{border:1px solid #ccc!important}

.JE-border-top{border-top:1px solid #ccc!important}.JE-border-bottom{border-bottom:1px solid #ccc!important}

.JE-border-left{border-left:1px solid #ccc!important}.JE-border-right{border-right:1px solid #ccc!important}

.JE-topbar{border-top:6px solid #ccc!important}.JE-bottombar{border-bottom:6px solid #ccc!important}

.JE-leftbar{border-left:6px solid #ccc!important}.JE-rightbar{border-right:6px solid #ccc!important}




.JE-margin{margin:16px!important}.JE-margin-top{margin-top:16px!important}.JE-margin-bottom{margin-bottom:16px!important}

.JE-margin-left{margin-left:16px!important}.JE-margin-right{margin-right:16px!important}

.JE-padding-small{padding:4px 8px!important}.JE-padding{padding:8px 16px!important}.JE-padding-large{padding:12px 24px!important}

.JE-padding-16{padding-top:16px!important;padding-bottom:16px!important}.JE-padding-24{padding-top:24px!important;padding-bottom:24px!important}

.JE-padding-32{padding-top:32px!important;padding-bottom:32px!important}.JE-padding-48{padding-top:48px!important;padding-bottom:48px!important}

.JE-padding-64{padding-top:64px!important;padding-bottom:64px!important}

.JE-padding-top-64{padding-top:64px!important}.JE-padding-top-48{padding-top:48px!important}

.JE-padding-top-32{padding-top:32px!important}.JE-padding-top-24{padding-top:24px!important}

.JE-left{float:left!important}.JE-right{float:right!important}



.JE-transparent,.JE-hover-none:hover{background-color:transparent!important}

.JE-hover-none:hover{box-shadow:none!important}



.JE-white,.JE-hover-white:hover{color:#000!important;background-color:#fff!important}

.JE-black,.JE-hover-black:hover{color:#fff!important;background-color:#000!important}

.JE-grey,.JE-hover-grey:hover,.JE-gray,.JE-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}

.JE-light-grey,.JE-hover-light-grey:hover,.JE-light-gray,.JE-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}

.JE-dark-grey,.JE-hover-dark-grey:hover,.JE-dark-gray,.JE-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}

.JE-text-white,.JE-hover-text-white:hover{color:#fff!important}

.JE-text-red,.JE-hover-text-red:hover{color:red!important}

.JE-text-black,.JE-hover-text-black:hover{color:#000!important}

.JE-text-grey,.JE-hover-text-grey:hover,.JE-text-gray,.JE-hover-text-gray:hover{color:#757575!important}

.JE-text-light-grey,.JE-hover-text-light-grey:hover,.JE-text-light-gray,.JE-hover-text-light-gray:hover{color:#f1f1f1!important}

.JE-text-dark-grey,.JE-hover-text-dark-grey:hover,.JE-text-dark-gray,.JE-hover-text-dark-gray:hover{color:#3a3a3a!important}

