<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">

</head>
<body>
    <h1>New Budget Page</h1>
    <form action="/budgets" method="POST">
        Date: <input type="date" name="name" /><br/>
        Name: <input type="text" name="name" /><br/>
        From: <input type="text" name="name" /><br/>
        Amount: <input type="number" value="" /><br/>
        Tags: <input type="text" name="name" /><br/>
        Approve Budget: <input type="checkbox" name="approveBudget" /><br/>
        <input type="submit" name="" value="New Budget"/><br/>
    </form>


    </form>
</body>
</html>